/* -------------------------------------------- */
/*               Global Variables               */
/* -------------------------------------------- */

:root {
  --clr-purple: #6b30d2;
  --clr-light-purple: #cdb9f0;
  --clr-light-orange: #ffaf9c;
  --clr-green: #026729;
  --clr-light-green: #89fdb7;
  --clr-magneta: #aa1252;
  --clr-red: #b50000;
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-purple-shadow: rgba(107, 48, 210, 0.3);
  --clr-green-shadow: rgba(2, 103, 41, 0.3);
  --clr-magneta-shadow: rgba(170, 18, 82, 0.3);
  --clr-light-shadow: rgba(0, 0, 0, 0.2);
  --clr-medium-shadow: rgba(0, 0, 0, 0.75);
  --clr-dark-shadow: rgba(0, 0, 0, 0.9);

  --ff-primary: "Poppins", Helvetica, Verdana, sans-serif;
  --ff-secondary: "Raleway", Arial, Verdana, sans-serif;

  --fw-medium: 500;
  --fw-semibold: 600;

  --bd: 1px solid;
  --bd-radius-small: 5px;
  --bd-radius-medium: 15px;
  --bd-radius-large: 30px;

  --maxw-page: 1200px;
  --minm-page: 30px;
  --hgt-header: 130px;
}

/* -------------------------------------------- */
/*                    Resets                    */
/* -------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* -------------------------------------------- */
/*                Global Elements               */
/* -------------------------------------------- */

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff-primary);
  font-size: 0.9375rem; /* 15px */
}

h2,
h3,
h4 {
  margin-block: 1rem;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  hyphens: auto;
}

address {
  font-style: normal;
}

strong {
  display: block;
  font-weight: var(--fw-semibold);
}

label {
  font-weight: var(--fw-medium);
}

input,
textarea {
  width: 100%;
  margin-block: 0.3rem 1rem;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: var(--bd-radius-small);
  border: var(--bd) var(--clr-black);
}

textarea {
  min-height: 120px;
  resize: none;
}

/* -------------------------------------------- */
/*                Links / Buttons               */
/* -------------------------------------------- */

a,
input[type="submit"] {
  font-size: inherit;
  font-weight: var(--fw-medium);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--clr-black);
  border: none;
}

input[type="submit"] {
  display: inline-block;
  color: var(--clr-white);
}

.cta {
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;
  color: var(--clr-white);
  border-radius: var(--bd-radius-small);
  background-color: var(--clr-black);
}

.fa-arrow-right {
  transition: transform 300ms ease;
}

.cta:is(:hover, :focus) .fa-arrow-right {
  transform: translateX(0.5rem);
}

.white-cta {
  color: var(--clr-purple);
  background-color: var(--clr-white);
}

.cta:active,
.burger-button:active {
  transform: scale(0.95);
}

/* -------------------------------------------- */
/*                Utility Classes               */
/* -------------------------------------------- */

/* Container
 Inspiration: https://www.youtube.com/watch?v=wBKT2KN_Y9s&t=155s */

.container {
  width: min(var(--maxw-page), 100% - var(--minm-page));
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.hidden {
  display: none;
}

.heading,
.nav-link {
  position: relative;
}

.heading {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.heading::before,
.nav-link::before {
  content: "";
  position: absolute;
}

.heading::before {
  top: -1rem;
  width: 40px;
  height: 3px;
  background-color: var(--clr-white);
}

.nav-link::before {
  left: 50%;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  transition: width 300ms ease;
}

.nav-link:is(:hover, :focus)::before,
.current::before {
  width: 100%;
}

.required-field {
  color: var(--clr-red);
}

.line-purple::before {
  background-color: var(--clr-purple);
}

.line-light-purple::before {
  background-color: var(--clr-light-purple);
}

.line-green::before {
  background-color: var(--clr-green);
}

.line-light-green::before {
  background-color: var(--clr-light-green);
}

.line-magneta::before {
  background-color: var(--clr-magneta);
}

.line-light-orange::before {
  background-color: var(--clr-light-orange);
}

.border-black {
  border: var(--bd) var(--clr-black);
}

.border-purple {
  border: var(--bd) var(--clr-purple);
}

.border-green {
  border: var(--bd) var(--clr-green);
}

.border-magneta {
  border: var(--bd) var(--clr-magneta);
}

.shadow-purple {
  box-shadow: 0 0 20px 0 var(--clr-purple-shadow);
}

.shadow-green {
  box-shadow: 0 0 20px 0 var(--clr-green-shadow);
}

.shadow-magneta {
  box-shadow: 0 0 20px 0 var(--clr-magneta-shadow);
}

.shadow {
  overflow: hidden;
  border-radius: var(--bd-radius-medium);
  box-shadow: 0 0 50px 0 var(--clr-light-shadow);
}

.circle-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-width: 2px;
  background-color: var(--clr-white);
}

.card-wrapper {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem 2rem;
}

.card-wrapper__item {
  position: relative;
  max-width: 400px;
  min-height: 260px;
  flex: 1 1 300px;
  padding: 3.5rem 2rem 2rem;
  overflow: visible;
}

.card-wrapper__item__icon {
  position: absolute;
  top: -32px;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translateX(-50%);
  font-size: 2rem;
}

/* -------------------------------------------- */
/*              Header & Navigation             */
/* -------------------------------------------- */

.header__container {
  min-height: var(--hgt-header);
}

/* Checkbox hack drop-down menu
Inspiration: https://codepen.io/alvarotrigo/pen/MWEJEWG */

.header__nav {
  position: absolute;
  top: var(--hgt-header);
  left: 0;
  width: 100%;
  border-radius: 0 0 var(--bd-radius-large) var(--bd-radius-large);
  box-shadow: 0px 20px 20px -6px var(--clr-light-shadow);
  background-color: var(--clr-white);
  z-index: 3;
}

.header__nav li {
  height: 0;
  line-height: 2.5rem;
  text-align: center;
  overflow: hidden;
  transition: height 250ms ease;
}

#burger-toggle:checked ~ .header__nav li {
  height: 2.5rem;
  overflow: visible;
}

#burger-toggle:checked ~ .header__nav li:last-child {
  margin-bottom: 1rem;
}

#burger-toggle:checked ~ .burger-button .fa-bars {
  display: none;
}

#burger-toggle:checked ~ .burger-button .fa-times {
  display: inline-block;
}

.burger-button {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: var(--bd) var(--clr-black);
  border-radius: var(--bd-radius-small);
}

/* -------------------------------------------- */
/*                     Main                     */
/* -------------------------------------------- */

main > :not(:first-child, :last-child) {
  margin-bottom: 7rem;
}

/* -------------------------------------------- */
/*                  Page Heroes                 */
/* -------------------------------------------- */

.hero,
.home-hero {
  max-width: var(--maxw-page);
  margin: 0 auto 5rem;
  color: var(--clr-white);
}

.hero {
  min-height: 200px;
}

.home-hero {
  background-color: var(--clr-purple);
}

.explore-hero {
  background: linear-gradient(var(--clr-medium-shadow), var(--clr-medium-shadow)), url("../images/explore/explore-hero.jpg") center 20%;
}

.exhibitions-hero {
  background: linear-gradient(var(--clr-medium-shadow), var(--clr-medium-shadow)), url("../images/exhibitions/exhibitions-hero.jpg") center 15%;
}

.visit-us-hero {
  background: linear-gradient(var(--clr-medium-shadow), var(--clr-medium-shadow)), url("../images/visit-us/visit-us-hero.jpg") center 45%;
}

.get-involved-hero {
  background: linear-gradient(var(--clr-medium-shadow), var(--clr-medium-shadow)), url("../images/get-involved/get-involved-hero.jpg") center 50%;
}

/* -------------------------------------------- */
/*                  Newsletter                  */
/* -------------------------------------------- */

.newsletter {
  padding-block: 6rem 3.5rem;
  background: url("../images/shared/waves-bg.svg") center;
  background-size: cover;
}

.newsletter__title {
  max-width: 30ch;
  margin-bottom: 1.5rem;
  font-family: var(--ff-secondary);
  font-size: 1.5em;
}

.newsletter__form {
  align-items: stretch;
  gap: 0.5rem;
}

.newsletter__form input {
  margin: 0;
}

.newsletter__form input[type="email"] {
  max-width: 200px;
  border: none;
}

.newsletter__form .cta {
  width: fit-content;
}

/* -------------------------------------------- */
/*                    Footer                    */
/* -------------------------------------------- */

footer {
  background: linear-gradient(var(--clr-dark-shadow), var(--clr-dark-shadow)), url("../images/shared/footer-bg.jpg");
  background-size: cover;
}

.footer__container {
  padding-block: 2rem 1rem;
  place-items: center;
}

footer a,
footer p {
  color: var(--clr-white);
}

.footer__nav ul,
.footer__icons {
  gap: 1.5rem;
}

.footer__nav {
  margin-block: 2rem;
}

/* -------------------------------------------- */
/*                   Home Page                  */
/* -------------------------------------------- */

/* ------------------- Hero ------------------- */

.home-hero__content {
  padding: 3rem 1.5rem;
}

.home-hero__title {
  font-size: 2.2em;
}

.home-hero__body {
  max-width: 305px;
  margin-block: 1rem 1.5rem;
}

/* ----------------- Showcase ----------------- */

.showcase__content {
  padding: 3rem 1.5rem;
}

/* ------------------ Events ------------------ */

.events,
.events__wrapper {
  gap: 2rem;
}

.events__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.events__card {
  grid-template-rows: repeat(2, min-content);
}

.events__card__content {
  padding: 1.5rem;
}

/* ------------------- Plan ------------------- */

.plan,
.plan__wrapper {
  gap: 2rem;
}

.plan__wrapper {
  margin: 0;
}

.plan__wrapper .card-wrapper__item {
  padding: 2rem;
}

.opening-hours li,
.contact-info li {
  display: flex;
}

.opening-hours li {
  align-items: center;
  justify-content: space-between;
}

.contact-info,
.contact-info li {
  gap: 1rem;
}

.contact-info {
  place-content: center;
}

.contact-info li {
  align-items: center;
}

.contact-info a {
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

/* -------------------------------------------- */
/*                 Explore Page                 */
/* -------------------------------------------- */

.explore,
.explore__card {
  gap: 3rem;
}

.explore__card {
  padding: 2rem;
  border-radius: 70px;
  transition: transform 300ms ease;
}

.explore__card:hover {
  transform: scale(1.02);
}

.explore__card__image {
  border-radius: 50%;
}

.explore__card__content {
  max-width: 50ch;
}

/* -------------------------------------------- */
/*               Exhibitions Page               */
/* -------------------------------------------- */

.exhibitions {
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 4rem 2rem;
}

.exhibitions__card,
.exhibitions__card__illustration {
  transition: transform 300ms ease;
}

.exhibitions__card {
  grid-template-rows: min-content auto;
}

.exhibitions__card:hover {
  transform: translateY(-1rem);
}

.exhibitions__card:hover .exhibitions__card__illustration {
  transform: rotate(20deg);
}

.exhibitions__card__image {
  border-width: 0 0 10px 0;
}

.exhibitions__card__content {
  padding: 1rem;
  grid-template-rows: min-content auto auto;
}

.exhibitions__card__illustration {
  margin-top: 2rem;
  place-self: end center;
}

/* -------------------------------------------- */
/*                 Visit Us Page                */
/* -------------------------------------------- */

/* ------------- Map & Contact Us ------------- */

.map-contact-us {
  margin-top: 14rem;
  align-items: stretch;
}

.map,
.map__wrapper {
  position: relative;
}

/* Workaround to remove default Google Maps "Info Card"
Inspiration: https://stackoverflow.com/a/40432141 */

.map__wrapper {
  min-height: 350px;
  overflow: hidden;
  border-radius: var(--bd-radius-medium) var(--bd-radius-medium) 0 0;
}

iframe {
  bottom: -20%;
  left: -50%;
  width: 200%;
  height: 150%;
}

.map__card,
iframe {
  position: absolute;
}

.map__card {
  top: -35%;
  left: 50%;
  padding: 2rem;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: var(--clr-white);
  z-index: 1;
}

.contact-us {
  padding: 2rem clamp(2rem, 8vw, 7rem);
  border-radius: 0 0 var(--bd-radius-medium) var(--bd-radius-medium);
}

/* -------------------------------------------- */
/*               Get Involved Page              */
/* -------------------------------------------- */

.get-involved {
  align-items: stretch;
  gap: 4rem;
}

.get-involved__card {
  padding: 2rem;
  gap: 2rem;
}

.get-involved__card,
.get-involved__card__image {
  border-radius: var(--bd-radius-medium);
}

/* -------------------------------------------- */
/*                  Media Query                 */
/* -------------------------------------------- */

@media (min-width: 768px) {
  /* ---------------- Navigation ---------------- */

  .header__nav {
    position: static;
    width: fit-content;
    border-radius: 0;
    box-shadow: none;
  }

  .header__nav ul {
    display: flex;
    gap: 1.5rem;
  }

  .header__nav li {
    height: auto !important;
    margin: 0 !important;
    line-height: normal;
    overflow: visible;
    transition: none;
  }

  .burger-button {
    display: none;
  }

  /* ---------------- Page Heroes --------------- */

  .hero {
    border-radius: var(--bd-radius-small);
  }

  /* ----------------- Home Page ---------------- */
  /* ------------------- Hero ------------------- */

  .home-hero {
    position: relative;
    min-height: 400px;
    align-items: stretch;
    flex-direction: row-reverse;
    overflow: hidden;
    border-radius: var(--bd-radius-small) var(--bd-radius-small) 0 0;
  }

  .home-hero::before,
  .home-hero::after {
    content: "";
    position: absolute;
  }

  /* Parallelogram
  Inspiration: https://stackoverflow.com/a/40386215 */

  .home-hero::before {
    left: 0;
    width: 50%;
    height: calc(100% - 30px);
    transform: skew(-10deg);
    transform-origin: bottom;
    background-color: var(--clr-purple);
  }

  /* Bottom Part */

  .home-hero::after {
    bottom: 0;
    width: 100%;
    height: 30px;
    border-radius: var(--bd-radius-large) var(--bd-radius-large) 0 0;
    background-color: var(--clr-white);
  }

  .home-hero > div {
    flex: 1;
  }

  .home-hero__content {
    padding: 0rem 2rem 1.8rem;
    z-index: 1;
  }

  .home-hero__image {
    height: 100%;
  }

  /* ----------------- Showcase ----------------- */

  .showcase {
    flex-direction: row;
    align-items: stretch;
  }

  .showcase > div {
    flex: 1;
  }

  .showcase__content {
    max-width: 45ch;
  }

  .showcase__image {
    height: 100%;
    object-position: right;
  }

  /* ------------------ Events ------------------ */

  .events {
    grid-template-areas:
      "events-title events-cta"
      "events-wrapper events-wrapper";
  }

  .events__title {
    grid-area: events-title;
  }

  .events__cta {
    grid-area: events-cta;
    place-self: center end;
  }

  .events__wrapper {
    grid-area: events-wrapper;
    grid-template-columns: repeat(2, 1fr);
  }

  .events__card {
    grid-template: repeat(auto-fit, minmax(240px, auto)) / repeat(auto-fit, minmax(240px, auto));
  }

  .events__card__image {
    height: 100%;
    width: 100%;
  }

  .events__card__content {
    padding-block: 2rem;
  }

  /* ------------------- Plan ------------------- */

  .plan {
    grid-template-areas:
      "plan-title plan-cta"
      "plan-wrapper plan-wrapper";
  }

  .plan__title {
    grid-area: plan-title;
  }

  .plan__cta {
    grid-area: plan-cta;
    place-self: center end;
  }

  .plan__wrapper {
    grid-area: plan-wrapper;
  }

  /* --------------- Explore Page --------------- */

  .explore {
    gap: 5rem;
    align-items: stretch;
  }

  .explore__card {
    max-width: 950px;
    flex-direction: row;
  }

  .explore__card:nth-child(2) {
    align-self: end;
  }

  /* --------------- Visit Us Page -------------- */

  .map-contact-us {
    flex-direction: row;
  }

  .map-contact-us > div {
    flex-basis: 50%;
  }

  .map__card {
    top: -15%;
  }

  .map__wrapper {
    min-height: 100%;
    border-radius: var(--bd-radius-medium) 0 0 var(--bd-radius-medium);
  }

  .contact-us {
    border-radius: 0 var(--bd-radius-medium) var(--bd-radius-medium) 0;
  }

  /* ------------- Get Involved Page ------------ */

  .get-involved__card {
    flex-direction: row;
    justify-content: space-around;
  }

  .get-involved__card__content {
    flex-basis: 60%;
    max-width: 45ch;
  }

  .get-involved__card__image {
    min-height: 350px;
  }

  /* ------------------ Footer ------------------ */

  .footer__container {
    padding-bottom: 2rem;
    grid-template-areas:
      "footer-logo footer-icons"
      "footer-nav footer-copytext";
    place-items: end start;
    gap: 1rem;
  }

  .footer__logo {
    grid-area: footer-logo;
  }

  .footer__nav {
    grid-area: footer-nav;
    margin-bottom: 0;
  }

  .footer__nav ul {
    flex-direction: row;
  }

  .footer__icons,
  .footer__copytext {
    justify-self: end;
  }

  .footer__icons {
    grid-area: footer-icons;
  }

  .footer__copytext {
    grid-area: footer-copytext;
  }
}
