/* -------------------------------------------- */
/*               Get Involved Page              */
/* -------------------------------------------- */

.get-involved {
  align-items: stretch;
  gap: 4rem;
}

.get-involved__card {
  padding: 2rem;
  gap: 2rem;
}

.get-involved__card,
.get-involved__card__image {
  border-radius: var(--bd-radius-medium);
}
