/* -------------------------------------------- */
/*                Utility Classes               */
/* -------------------------------------------- */

/* Container
 Inspiration: https://www.youtube.com/watch?v=wBKT2KN_Y9s&t=155s */

.container {
  width: min(var(--maxw-page), 100% - var(--minm-page));
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.heading,
.nav-link {
  position: relative;
}

.heading {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.heading::before,
.nav-link::before {
  content: "";
  position: absolute;
}

.heading::before {
  top: -1rem;
  width: 40px;
  height: 3px;
  background-color: var(--clr-white);
}

.nav-link::before {
  left: 50%;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  transition: width 300ms ease;
}

.nav-link:is(:hover, :focus)::before,
.current::before {
  width: 100%;
}

.required-field {
  color: var(--clr-red);
}

.line-purple::before {
  background-color: var(--clr-purple);
}

.line-light-purple::before {
  background-color: var(--clr-light-purple);
}

.line-green::before {
  background-color: var(--clr-green);
}

.line-light-green::before {
  background-color: var(--clr-light-green);
}

.line-magenta::before {
  background-color: var(--clr-magenta);
}

.line-light-orange::before {
  background-color: var(--clr-light-orange);
}

.border-black {
  border: var(--bd) var(--clr-black);
}

.border-purple {
  border: var(--bd) var(--clr-purple);
}

.border-green {
  border: var(--bd) var(--clr-green);
}

.border-magenta {
  border: var(--bd) var(--clr-magenta);
}

.shadow-purple {
  box-shadow: 0 0 20px 0 var(--clr-purple-shadow);
}

.shadow-green {
  box-shadow: 0 0 20px 0 var(--clr-green-shadow);
}

.shadow-magenta {
  box-shadow: 0 0 20px 0 var(--clr-magenta-shadow);
}

.shadow {
  overflow: hidden;
  border-radius: var(--bd-radius-medium);
  box-shadow: 0 0 50px 0 var(--clr-light-shadow);
}

.circle-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-width: 2px;
  background-color: var(--clr-white);
}

.card-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem 2rem;
}

.card-container__card {
  position: relative;
  max-width: 400px;
  min-height: 260px;
  flex: 1 1 300px;
  padding: 3.5rem 2rem 2rem;
  overflow: visible;
}

.card-container__card__icon {
  position: absolute;
  top: -32px;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translateX(-50%);
  font-size: 2rem;
}

.logo {
  max-width: 112px;
}

.opening-hours li,
.contact-info li {
  display: flex;
}

.opening-hours li {
  align-items: center;
  justify-content: space-between;
}

.contact-info,
.contact-info li {
  gap: 1rem;
}

.contact-info {
  place-content: center;
}

.contact-info li {
  align-items: center;
}

.contact-info a {
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
