/* -------------------------------------------- */
/*               Global Variables               */
/* -------------------------------------------- */

:root {
  --clr-purple: #6b30d2;
  --clr-light-purple: #cdb9f0;
  --clr-light-orange: #ffaf9c;
  --clr-green: #026729;
  --clr-light-green: #89fdb7;
  --clr-magenta: #aa1252;
  --clr-red: #b50000;
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-light-shadow: rgba(0, 0, 0, 0.2);
  --clr-medium-shadow: rgba(0, 0, 0, 0.75);
  --clr-dark-shadow: rgba(0, 0, 0, 0.93);

  --ff-primary: "Poppins", Helvetica, Verdana, sans-serif;
  --ff-secondary: "Raleway", Arial, Verdana, sans-serif;

  --fw-medium: 500;
  --fw-semibold: 600;

  --bd: 1px solid;
  --bd-radius-small: 5px;
  --bd-radius-medium: 15px;
  --bd-radius-large: 30px;

  --maxw-page: 1200px;
  --minm-page: 30px;
  --hgt-header: 120px;
}
